.container {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 50px;
  font-size: 18px;
  justify-content: space-between;
  z-index: 3;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.listItem {
  display: inline;
  margin-right: 30px;
  font-size: 14px;
  cursor: pointer;
  color: lightgray;
}

.listItem:hover {
  font-weight: 900;
  font-size: 16px;
}
.hamburger {
  display: none;
}
.menuItem {
  padding-bottom: 1rem;
}
@media screen and (max-width: 780px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 690px) {
  .container {
    padding: 0 5px;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
}

@media screen and (max-width: 680px) {
  .listItem {
    display: none;
  }
  .container {
    padding: 0 10px;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .menu {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 160px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    padding: 1rem 0;
    opacity: 0.75;
    list-style: none;
  }
  .menuItem {
    width: max-content;
  }
}

@media screen and (max-width: 480px) {
}
