.container {
  display: flex;
  padding: 50px;
  height: 80vh;
}
.largeCard {
  flex: 2;
  display: flex;
}
.smallCard {
  flex: 1;
}

.imageContainer {
  width: 30%;
  flex-wrap: wrap;
  margin: 5px;
}
