.container {
  display: flex;
  padding: 50px;
}
.largeCard {
  flex: 2;
  flex-wrap: wrap;

  display: flex;
}
.smallCard {
  flex: 1;
}

.imageContainer {
  width: 30%;
  margin: 5px;
}

.imageContainer:nth-child(3) {
  border-top-right-radius: 50%;
  overflow: hidden;
}
